@value big-book-width: 120px;
@value big-book-height: 185px;

.big-wrapper {
  position: relative;
  width: big-book-width;
  height: big-book-height;
  margin-bottom: 20px;
}

.small-wrapper {
  position: relative;
  width: 50px;
  height: 70px;
}

.big-book {
  background: #f33139;
  background-image: none;
  background-image: linear-gradient(to right, #d11f2f 13px, #b90716 15px, transparent 15px);

  width: big-book-width;
  height: big-book-height;
  display: flex;
  justify-content: flex-end;
  border-radius: 15px 10px 12px 20px;
}

.small-book {
  background: #f33139;
  background-image: none;
  background-image: linear-gradient(to right, #d11f2f 8px, #b90716 10px, transparent 10px);

  width: 50px;
  height: 70px;
  border-radius: 8px 4px 4px 10px;

  display: flex;
  justify-content: flex-end;
}

.big-book:after {
  content: "";
  box-sizing: inherit;
  position: absolute;
  height: 25px;
  width: 112px;
  bottom: 6px;
  right: 0px;
  background: white;
  border-radius: 32px 4px 4px 32px;
  box-shadow: inset 4px 6px 0px 0px #e4e0ce;
  background-image: linear-gradient(
    to bottom,
    transparent 6px,
    #e4e0ce 8px,
    transparent 8px,
    transparent 12px,
    #e4e0ce 12px,
    transparent 14px,
    transparent 18px,
    #e4e0ce 18px,
    transparent 20px,
    transparent 24px,
    #e4e0ce 24px,
    transparent 26px,
    transparent 30px,
    #e4e0ce 30px,
    transparent 32px,
    transparent 36px,
    #e4e0ce 36px,
    transparent 38px,
    transparent 42px,
    #e4e0ce 42px,
    transparent 44px,
    transparent 48px,
    #e4e0ce 48px,
    transparent 50px
  );
}

.small-book:after {
  content: "";
  box-sizing: inherit;
  position: absolute;
  height: 12px;
  width: 46px;
  bottom: 6px;
  right: 0px;
  background: white;
  border-radius: 32px 4px 4px 32px;
  box-shadow: inset 4px 6px 0px 0px #e4e0ce;
  background-image: linear-gradient(
    to bottom,
    transparent 6px,
    #e4e0ce 8px,
    transparent 8px,
    transparent 12px,
    #e4e0ce 12px,
    transparent 14px,
    transparent 18px,
    #e4e0ce 18px,
    transparent 20px,
    transparent 24px,
    #e4e0ce 24px,
    transparent 26px,
    transparent 30px,
    #e4e0ce 30px,
    transparent 32px,
    transparent 36px,
    #e4e0ce 36px,
    transparent 38px,
    transparent 42px,
    #e4e0ce 42px,
    transparent 44px,
    transparent 48px,
    #e4e0ce 48px,
    transparent 50px
  );
}

.book-image {
  width: 105px;
  height: 160px;
  background-image: url("https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1353277730i/11588.jpg");
  background-size: cover;
}

.book-icon {
  width: 40px;
  height: 50px;
  display: flex;
  place-content: center;
  place-items: center;
}

.title,
.author {
  display: block;
  text-transform: capitalize;
}

.title {
  font-size: 0.8rem;
  font-weight: 500;
}

.author {
  color: #f33139;
  font-size: 0.7rem;
}

.small-title {
  display: block;
  font-size: 0.8rem;
  text-align: center;
}

.small-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
