.input {
  font-size: 0.8rem;
  color: var(--text-chatbox);

  border: 1px solid #ccc;
  border-radius: 50px;
  outline: none;

  width: 100%;
  padding: 1rem 1rem;

  transition: border-color 0.2s ease-in-out;
}

.input-primary {
  composes: input;
}
